table {
    width: 100%;
  }
  
.selecao {
  display: flex;
  flex-direction: row;
  gap: 32px;

}

.selecao_barra {
  width: 500px; /* Ajuste para o tamanho desejado */  
  border-radius: 4px; /* Reduz a arredondamento dos cantos */
}

.selecao_botoes {
  display: flex;
  gap: 8px; /* Ajusta o espaçamento entre os botões */
}
  font-size: 16px; /* Aumenta o tamanho da fonte */


}
